<div class="autocomplete">
    <input
        type="text"
        [ngModel]="value?.label"
        [placeholder]="placeholder"
        [attr.disabled]="isDisabled || undefined"
        (focus)="openOverlay()"
        (blur)="closeOverlay()"
    >

    <div
        *ngIf="isOverlayOpen"
        class="autocomplete__overlay"
    >
        <div
            *ngFor="let option of options; trackBy: trackByIndex;"
            class="option"
            (click)="writeValue(option); onTouched?.()"
        >

            {{ option.label }}
        </div>
    </div>
</div>
