<div class="row">
    <form class="col-sm-11" [formGroup]="quizForm">
        <app-autocomplete
            formControlName="category"
            placeholder="Select category"
            [options]="categories$ | async"
        ></app-autocomplete>

        <ng-container *ngIf="subCategories$ | async as subCategories">
            <ng-container *ngIf="subCategories.length > 0">
                <app-autocomplete
                    formControlName="subCategory"
                    placeholder="Select sub category"
                    [options]="subCategories"
                ></app-autocomplete>
            </ng-container>
        </ng-container>

        <app-autocomplete
            formControlName="difficulty"
            placeholder="Select difficulty"
            [options]="difficulties"
        ></app-autocomplete>

        <button class="primary" id="createBtn" (click)="createQuiz(quizForm.value)">Create</button>
    </form>

</div>
<div class="row">
    <ng-container *ngIf="errorMessage; else questionTemplate">{{ errorMessage }}</ng-container>

    <ng-template #questionTemplate>
        <app-quiz
            [isSwapEnabled]="isSwapEnabled"
            [questions]="questions$ | async"
            (swap)="swapQuestion($event)"
        ></app-quiz>
    </ng-template>
</div>
