<div class="autocomplete" *ngIf="{ search: search$ | async } as searchOptions">
    <input
        type="text"
        [ngModel]="value?.label"
        [placeholder]="placeholder"
        [attr.disabled]="isDisabled || undefined"
        (focus)="openOverlay()"
        (blur)="closeOverlay()"
        (ngModelChange)="filterOptions($event)"
    >

    <div
        *ngIf="isOverlayOpen$ | async"
        class="autocomplete__overlay"
    >
        <div
            *ngFor="let option of filteredOptions$ | async; trackBy: trackByIndex;"
            class="option"
            (click)="selectValue(option)"
        >
            <span [innerHTML]="option.label | highlight: searchOptions.search"></span>
        </div>
    </div>
</div>
